<h1>This is the show template!</h1>

<strong> <%= course.name%></strong>
<stron>Section</stron>

<% course.sections.forEach(function(section){ %>
<p>
    <strong><%= section.number %></strong>
</p>
<% })%>


<a href="/professors/<%= course._id%>/sections/new">Add a section</a>
