<% include ../partials/header %>

<p>
    <h1> <%= course.name%></h1>
</p>
<br>
<table class="pretty-table">
    <thead>
        <tr>

            <th>Course Name</th>
        </tr>
    </thead>
    <tbody>
        <% course.sections.forEach(function( section){%>
        <tr>
            <td> <%= section.number%></td>
        </tr>
        <% })%>
    </tbody>
</table>

<br>
<a href="/courses">All Courses</a>