<h1>this is section new</h1>


<form action="/sections/new/submitted/:id" method="post">
    <select name="professor_id">
       <% professors.forEach(function (professor) {%>
            <option value="<%= professor._id%>"><%= professor.name%></option>
       <%  });%>

    </select>

    <select name="course_id">
        <% courses.forEach(function (course) {%>
        <option value="<%= course._id%>"><%= course.name%></option>
        <%  });%>

    </select>
    <input type="text" name="section_name">
    <input type="submit">

</form>