<% include ../partials/header %>

<h1>This is show for the section</h1>
<%  sections.forEach(function (section) { %>

<li>
    section name: <%= section%><br>
   professor:  <%= section.professor%><br>
   course:  <%= section.course%>
    <br>

</li>

<% }); %>

