<h1>Professors</h1>

<%  professors.forEach(function (prof) { %>

    <li>
        <%= prof.name %>
        <button> <a href="/professors/show/<%= prof._id%>"> Show</a></button>
        <button> <a href="/professors/delete/<%= prof._id%>"> Delete</a></button>

    </li>

<% }); %>

<a href="/professors/new">Add New Professor</a>