<h1>Professors</h1>

<%  professors.forEach(function (professor) { %>

    <li>
        <%= professor.name %>
        <button> <a href="/professors/show/<%= professor._id%>"> Show</a></button>
        <button> <a href="/professors/delete/<%= professor._id%>"> Delete</a></button>

    </li>

<% }); %>

<a href="/professors/new">Add New Professor</a>