<p>
    <h1> <%= prof.name%></h1>
</p>
<br>
<table>
    <thead>
        <tr>
            <th>Section Number</th>
        </tr>
    </thead>
    <tbody>
        <% prof.sections.forEach(function( section){%>
        <tr>
            <td> <%= section.number%></td>
        </tr>
        <% })%>
    </tbody>
</table>

<br>
<a href="/professors/<%= prof._id%>/sections/new">Add a section</a>
